.all-dashboard {
  width: 100%;
  height: 95vh;
  display: flex;
  gap: 4%;
}

.content-dashboard {
  width: 80%;
  height: 98%;
  margin-top: 2%;
}

.h3-content-perfil {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 10%;
  color: var(--Naranja, #f26a2f);
  /* H3 */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 100% */
}
.h3-content-perfil_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Cambiado de 'start' a 'flex-end' */
  width: 100%;
  height: 10%;
  color: var(--Naranja, #3decff);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}
.content-usuarios {
  width: 98%;
  height: 83%;
  border-radius: 25px;
  background: var(--Azul---Gris, #25293d);
  box-shadow: 135px 118px 50px 0px rgba(0, 0, 0, 0),
    86px 75px 46px 0px rgba(0, 0, 0, 0.01),
    49px 42px 39px 0px rgba(0, 0, 0, 0.05),
    22px 19px 29px 0px rgba(0, 0, 0, 0.09), 5px 5px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 2%;
}

@media (min-width: 768px) and (max-width: 1700px) {
  .all-dashboard {
    width: 100%;
    height: 95vh;
    display: flex;
    gap: 4%;
  }

  .content-dashboard {
    width: 80%;
    height: 98%;
    margin-top: 2%;
  }

  .h3-content-perfil {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 10%;
    color: var(--Naranja, #f26a2f);
    /* H3 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 100% */
  }
  .h3-content-perfil_2 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 10%;
    color: var(--Naranja, #3decff);
    /* H3 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 100% */
  }
  .content-usuarios {
    width: 98%;
    height: 83%;
    border-radius: 25px;
    background: var(--Azul---Gris, #25293d);
    box-shadow: 135px 118px 50px 0px rgba(0, 0, 0, 0),
      86px 75px 46px 0px rgba(0, 0, 0, 0.01),
      49px 42px 39px 0px rgba(0, 0, 0, 0.05),
      22px 19px 29px 0px rgba(0, 0, 0, 0.09),
      5px 5px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 2%;
  }
}

@media (max-width: 767px) {
  .all-dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 4%;
  }

  .content-dashboard {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    padding: 2%;
  }

  .h3-content-perfil {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 65%;
    height: 10%;
    color: var(--Naranja, #f26a2f);
    /* H3 */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 100% */
  }
  .h3-content-perfil_2 {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 65%;
    height: 10%;
    color: var(--Naranja, #3decff);
    /* H3 */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 15px;
    word-spacing: -2px; /* 100% */
  }
  .content-usuarios {
    width: 98%;
    height: 83%;
    border-radius: 25px;
    background: var(--Azul---Gris, #25293d);
    box-shadow: 135px 118px 50px 0px rgba(0, 0, 0, 0),
      86px 75px 46px 0px rgba(0, 0, 0, 0.01),
      49px 42px 39px 0px rgba(0, 0, 0, 0.05),
      22px 19px 29px 0px rgba(0, 0, 0, 0.09),
      5px 5px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 2%;
  }
}
